@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --custom-blue: #FF5207;
  --custom-orange: #FF5207;
  --custom-lightGray: #F5F6FA;
  --custom-black: #202224;
  --custom-green: #00B69B;
  --custom-lightsGrayColor: #B9B9B9;
  --custom-lightGrayInputBg: #F5F6FA;
  --custom-lightGrayInputName: #606060;
  --custom-offWhite: #D5D5D5;
  --custom-gray: #445268;
  --custom-darkGray: #62676C;
  --custom-newBlue: #2048BD;
  --custom-newBlack: #434343;
  --custom-darkGreen: #0A5C03;
  --custom-newGray: #445268;
  --custom-newOrange: #F05023;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap'); */

/* @font-face {
  font-family: 'NunitoSans';
  src: url('/public/font/nunito-sans/NunitoSans-Regular.ttf');
} */

body {
  /* font-family: "Nunito Sans", sans-serif; */
  /* background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; */

  /* font-family: 'NunitoSans' !important; */

  font-family: 'Nunito Sans', sans-serif;
}

/* .NunitoSans {
  font-family: 'NunitoSans' !important;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @variants responsive {


    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }


    .no-scrollbar {
      -ms-overflow-style: none;
    }
  }
}

.boxShadow {
  box-shadow: 6px 6px 54px 0px #0000000D;
}

.boxShadowGenerateToken {
  box-shadow: 0px 5px 20px 10px #2048BD33 !important;
}